@page "/"
@attribute [Authorize]
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

@if (users != null)
{
    @foreach (var u in users)
    {
        <p>
            @u.Id - @u.Login
        </p>
    }
}
