@inject NavigationManager navigation

<RadzenComponents />


<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MyLayout)">
            <Authorizing>
                <p>Ожидайте, идет процесс авторизации</p>
            </Authorizing>
            <NotAuthorized>
                <MatrixResponsibility.Client.Pages.ReditectToLogin />
            </NotAuthorized>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MyLayout)">
            <p role="alert">Указан не верный адрес</p>
        </LayoutView>
    </NotFound>
</Router>
