@inject NavigationManager navigation
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
       <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)" > 
            <Authorizing>
                <p>Ожидайте, идет процесс авторизации</p>
            </Authorizing>
            <NotAuthorized >
                <MatrixResponsibility.Client.Pages.ReditectToLogin/>
            </NotAuthorized> 
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Указан не верный адрес</p>
        </LayoutView>
    </NotFound>
</Router>
